<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="bfb7b3">  <td>21/12/10 17:22:58</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PostloginTest.Post_Login()[pri:0, instance:revidd.Storefront.PostloginTest@61862a7f]">Post_Login</td> 
  <td>main@258931371</td>   <td></td> </tr>
<tr bgcolor="68b6dd">  <td>21/12/10 17:22:34</td>   <td>-23896</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.login()[pri:0, instance:revidd.Storefront.LoginTest@2e4b8173]">login</td> 
  <td>main@258931371</td>   <td></td> </tr>
<tr bgcolor="68b6dd">  <td>21/12/10 17:22:52</td>   <td>-6168</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.loginfailedatwrongmail()[pri:0, instance:revidd.Storefront.LoginTest@2e4b8173]">loginfailedatwrongmail</td> 
  <td>main@258931371</td>   <td></td> </tr>
</table>
